body{
    background-color: black;
    margin: 0px;
}

.squre{
    width: 30%;
    padding-bottom: 30%;
    background-color: white;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}

.container{
    max-width: 600px;
    margin: 20px auto;
}

h1{
    color: white;
    background-color: steelblue;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    font-weight: 100;
    font-size: 35px;
}

#strip{
    background-color: white;
    color: black;
    height: 30px;
    text-align: center;
}

.selected{
    color: white;
    background-color: steelblue;
}

.colordisplay{
    font-size: 50px;
}

button{
    border: 0px;
    height: 100%;
    font-weight: 600;
    background: none;
    outline: none;
}
button:hover{
    color: white;
    background-color: steelblue;
    transition: all 0.6s;
    -moz-transition: all 0.6s;
    -webkit-transition: all 0.6s;
}
.message{
    display: inline-block;
    width: 10%;
}